html, body, canvas {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Josefin Sans', Verdana, 'Arial Black', sans-serif;
    background-color: #202024;
    color: #808070;
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 0fr;
}

#uw8 {
    position: absolute;
}

#uw8 a {
    font-size: 130%;
}

#centered {
    align-self: center;
    justify-self: center;
}

a {
    color: #303630;
}

a:hover {
    color: #405040;
}

.screen {
    width: 320px;
    height: 240px;
    image-rendering: pixelated;
    background-color: #202428;
    margin-bottom: 8px;
    border: 4px solid #303040;
    box-shadow: 5px 5px 20px black;
}

#screen {
    cursor: none;
}

#start {
    font-size: 150%;
}

#timer::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: red;
    margin-right: 3px;
}

#message {
    margin-bottom: 8px;
}

.error {
    color: #e04030;
}

button {
    font-family: inherit;
    background-color: #303440;
    color: #808070;
    padding: 4px;
    border: 1px solid #404040;
    border-radius: 4px;
}

button:hover {
    background-color: #202010;
}

button:active {
    background-color: #504450;
}

@media (min-width: 680px) and (min-height: 620px) {
    .screen {
        width: 640px;
        height: 480px;
    }
}

@media (min-width: 1000px) and (min-height: 800px) {
    .screen {
        width: 960px;
        height: 720px;
    }
}

@media (width:640px) and (height:480px) {
    .screen {
        width: 640px;
        height: 480px;
        border: 0;
        margin: 0;
    }
    body {
        overflow: hidden;
    }
  }
  