{% extends "juice/templates/index.html" %}
{% block hero %}
    <div>
        <section>
            <h1 class="text-center heading-text">A WebAssembly based fantasy console</h1>
        </section>
        <a href="v0.3.0">
            <img class="demonstration-gif" style="width:640px;height:480px;image-rendering:pixelated" src="img/technotunnel.png"></img>
        </a>
    </div>
    <div class="explore-more text"
        onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
        Explore More ⇩
    </div>
{% endblock hero %}

{% block footer %}
{% endblock footer %}
